<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
<title>Code Rapid</title>
</head>
<body>
  <div class='container'>
    <h1>All Tool Online For Developers </h1>
    {% include "base.html" %}
    <div id='content' class='row-fluid'>
        {% include "features.html" %}
      <div class='span10 main'>
        <h2>Check Different</h2>
          <!--<form role="form" action="" method="post">-->
              <!--{% csrf_token %}-->
              <!--<fieldset>-->
                  <!--<div class="form-group">-->
                      <!--<div class="row">-->
                          <!--<div class="span5 offset1">-->
                                <!--<label>Original Text</label>-->
                                <!--<textarea class="form-control" id="txtArea_originalInput" name="inputValue"  rows="10" style="width:100%"></textarea>-->
                          <!--</div>-->
                          <!--<div class="span5">-->
                                  <!--<label>Text Compare</label>-->
                                  <!--<textarea class="form-control" name="inputValue" id="txtArea_compareInput" rows="10" style="width:100%"></textarea>-->
                          <!--</div>-->
                      <!--</div>-->
                      <!--<div class=" offset5"> <input type="button" value="Convert"></div>-->
                  <!--</div>-->
              <!--</fieldset>-->
          <!--</form>-->

      </div>

    </div>
  </div>
</body>