<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
<title>Remove Extra Spaces</title>
     {% include "tracking_code.html" %}
</head>
<body>
  <div class='container'>
    {% include "base.html" %}
    <div id='content' class='row-fluid'>
        {% include "features.html" %}
      <div class='span10 main'>
        <h1 style="font-size:31.5px;">Remove Extra Spaces</h1>
          <div class="col-md-6 col-md-offset-3">

              <h3 style="font-size:14px">About remove extra spaces</h3>
              <p class="space">
                 With this tool, you can remove extra spaces easily.
              </p>
              <p class="space">
                 Remember, enter your string to "Original Text" before press the Remove button.
              </p>
              <p class="space" style="padding:0 0 10px 0">
                 After that, data result will be display.
              </p>

                <form role="form" action="" method="post">
                    {% csrf_token %}
                    <fieldset>
                        {% if post.input_value %}
                            <div class="form-group">
                                <label>Original Text</label>
                                <textarea class="form-control" name="inputValue"  maxlength="500" rows="5"  style="width:100%">{{post.input_value}}</textarea>
                            </div>
                            <input type="submit" value="Remove">
                            <div style="padding:10px 0 0 0">
                                <label>String Remove Extra Spaces</label>
                                <textarea class="form-control" maxlength="500" rows="5"  style="width:100%">{{post.output_value}}</textarea>
                            </div>
                        {% else %}
                            <div class="form-group">
                                <label>Original Text</label>
                                <textarea class="form-control" name="inputValue"  id="inputValue" maxlength="500" rows="5" style="width:100%"></textarea>
                            </div>
                            <input type="submit" value="Remove">

                        {% endif %}
                    </fieldset>
                </form>

          </div>
      </div>

    </div>
  </div>
</body>